body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

 .main {
	padding: 50px;
	padding-right: 40px;
}

.main .sidebar {
	position: absolute;
	top: 50px;
	width: 190px;
}

.main .content {
	margin-top: 0;
	padding-left: 170px;
}

.main .page-header {
	margin-top: 0;
}

.border {
	border-radius: 5px;
	background: red;
}

.red {
	background: red;
}

.blue {
	background: blue;
}